@page "/"
@inject IHttpContextAccessor HttpContextAcessor
@inject UserManager<ApplicationUser> UserManager
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

@if (!CurrentUser.Identity.IsAuthenticated)
{
    <h3>Bem Vindo!</h3>
}
else
{
    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="dataInicial">Data Inicial</label>
                <input type="date" id="dataInicial" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="dataFinal">Data Final</label>
                <input type="date" id="dataFinal" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Receita Total do Mês</h5>
                        <p class="card-text">Valor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Custo Total do Mês</h5>
                        <p class="card-text">Valor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lucro Líquido do Mês</h5>
                        <p class="card-text">Valor</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pedidos Mais Solicitados do Mês</h5>
                    <p class="card-text">Lista de Pedidos</p>
                </div>
            </div>
        </div>
@*         <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gráfico de Evolução da Receita Mensal</h5>
                    <div id="chart"></div>
                </div>
            </div>
        </div> *@
    </div>
}


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Chart.js for charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Your custom script to initialize charts and other functionalities -->
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal CurrentUser;
    private ApplicationUser user = default!;
    private int _companyId;
    protected override async Task OnInitializedAsync()
    {
        CurrentUser = (await authenticationStateTask).User;

        if (CurrentUser.Identity.IsAuthenticated)
        {
            user = await UserManager.GetUserAsync(CurrentUser);
            _companyId = user.CompanyId;
        }
    }
}