@using OrderQR.Application.Components.CustomerPages
@inherits LayoutComponentBase

<div class="pagecustomer" style="background-repeat: no-repeat; background-image: linear-gradient(#FFCDD2, #D32F2F)">
    <main>
        <div class="content px-2">
            @Body

        </div>
    </main>

</div>