@using MenuQR.Application.Components.CustomerPages
@inherits LayoutComponentBase

<div class="pagecustomer">
    <main>
        <div class="content px-2">
        @Body

        </div>
    </main>
</div>