@using MenuQR.Application.Components.CustomerPages
@inherits LayoutComponentBase
@inject IHttpContextAccessor HttpContextAcessor

<div class="pagecustomer">

    <main>
        <div class="content px-2">
            @Body

        </div>
    </main>
</div>

@code {
}