@using MenuQR.Application.Components.CustomerPages
@inherits LayoutComponentBase

<div class="pagecustomer" style="background-repeat: no-repeat; background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33))">
    <main>
        <div class="content px-2">
            @Body

        </div>
    </main>

</div>