@page "/table/edit/{Id:int}"
@attribute [Authorize]
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IWebHostEnvironment Env
@inject IConfiguration configuaration
@inject IJSRuntime JsRuntime
@inject IApiService ApiService
@inject IHttpContextAccessor HttpContextAcessor
@inject IUserGetter usergetter

<h3>Editar Mesa</h3>

<EditForm OnValidSubmit="OnSubmit" Model="@Model" FormName="editTable">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label class="form-label">Identificação:</label>
        <InputText @bind-Value="Model.Identification" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">QRCode:</label>
        <InputText @bind-Value="Model.Link" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</EditForm>

@code {
    private TableDTO Model { get; set; } = new TableDTO();
    [Parameter]
    public int Id { get; set; }
    private int _companyId;
    private string _userId;

    protected override async Task OnInitializedAsync()
    {
        ApplicationUser user = await usergetter.Get();
        _companyId = user.CompanyId;
        _userId = user.Id;
        var url = configuaration["ApiLinks:TableGetById"];
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("tableId", Id);
        parameters.Add("companyId", _companyId);
        GenericCommandResult commandResult = await ApiService.GetWithParameters<TableDTO>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), parameters);
        if (commandResult.Sucess && commandResult.Data is TableDTO)
        {
            Model = (TableDTO)commandResult.Data;
        }
        else
            await JsRuntime.InvokeVoidAsync("Alert", "Mesa não encontrada!");
    }

    private async void OnSubmit()
    {
        var url = configuaration["ApiLinks:TableUpdate"];
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("userId", _userId);
        GenericCommandResult commandResult = await ApiService.PutWithParameters<TableDTO>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), parameters, Model);
        if (commandResult.Sucess)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Mesa alterada!");
            navigationManager.NavigateTo(configuaration["ApplicationLinks:TableManager"]);
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "Mesa não alterada!");
    }
}

