@page "/{CompanyName}/{TableGuid:guid}/customer/logged/{SetHashCode:int}"

@layout MenuQR.Application.Components.Layout.EmptyLayout
@inject IConfiguration configuration
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject StateContainer stateContainer
@inject ISessionStorageService SessionStorage
@inject IHttpContextAccessor HttpContextAcessor
<div class="container">
    <div class="card card-container">
        <p id="profile-name" class="profile-name-card">Usuário confirmado!</p>
        <br />
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" @onclick=ChangePage>Continuar</button>
    </div>
</div>
@code {
    public CustomerDTO Model { get; set; } = new CustomerDTO();
    [Parameter]
    public int SetHashCode { get; set; }
    [Parameter]
    public string CompanyName { get; set; }
    [Parameter]
    public Guid TableGuid { get; set; }
    private async void ChangePage()
    {
        navigationManager.NavigateTo(CompanyName + "/" + TableGuid + "/" + configuration["ApplicationLinks:ProductSelection"], true);
    }
}

