@inject StateContainer stateContainer
@inject NavigationManager navigationManager
@inject IConfiguration configuration

<div class="justify-content-around bd-highlight btn-toolbar">
    <div class="btn-group mr-md-3" role="group">
        <button @onclick="HandleClick" class="btn btn-primary">Fazer Pedido</button>
    </div>
    <div class="btn-group mr-md-3" role="group">
        <a @onclick="NavigateToClosePartial" class="btn btn-secondary">Fechar Parcial</a>
    </div>
    <div class="btn-group mr-md-3" role="group">
        <a @onclick="NavigateToCloseTotal" class="btn btn-primary">Fechar Total</a>
    </div>
</div>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-item");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

@code {
    [Parameter]
    public EventCallback OnButtonClick { get; set; }
    private async Task HandleClick()
    {
        if (OnButtonClick.HasDelegate)
        {
            await OnButtonClick.InvokeAsync(null);
        }
    }
    private void NavigateToClosePartial()
    {
        navigationManager.NavigateTo(configuration["ApplicationLinks:BillClose"] + false);
    }
    private void NavigateToCloseTotal()
    {
        navigationManager.NavigateTo(configuration["ApplicationLinks:BillClose"] + true);
    }
}
