@page "/{CompanyId:int}/{TableId:int}/customer/login/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IConfiguration configuration
@inject IJSRuntime JsRuntime
@inject IApiService ApiService
@inject IHttpContextAccessor HttpContextAcessor
@inject StateContainer stateContainer
@layout MenuQR.Application.Components.Layout.EmptyLayout

<EditForm OnValidSubmit="OnSubmit" Model="@Model" FormName="loginCustomer">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <div class="div-signin" id="div-signin">
                <span id="reauth-cpf" class="reauth-cpf"></span>
                <InputText @bind-Value="Model.Document" type="text" id="inputCPF" class="form-control" placeholder="CPF" required autofocus />
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }
    [Parameter]
    public int CompanyId { get; set; }
    [Parameter]
    public int TableId { get; set; }
    public CustomerDTO Model { get; set; } = new CustomerDTO();
    protected override async Task OnInitializedAsync()
    {
        if (HttpContextAcessor.HttpContext.Request.Cookies["Token"] != null)
            HttpContextAcessor.HttpContext.Response.Cookies.Delete("Token");
        if (HttpContextAcessor.HttpContext.Request.Cookies["CustomerDocument"] != null)
            HttpContextAcessor.HttpContext.Response.Cookies.Delete("CustomerDocument");
        if (HttpContextAcessor.HttpContext.Request.Cookies["CompanyId"] != null)
            HttpContextAcessor.HttpContext.Response.Cookies.Delete("CompanyId");
        if (HttpContextAcessor.HttpContext.Request.Cookies["TableId"] != null)
            HttpContextAcessor.HttpContext.Response.Cookies.Delete("TableId");
        if (HttpContextAcessor.HttpContext.Request.Cookies["TableGuid"] != null)
            HttpContextAcessor.HttpContext.Response.Cookies.Delete("TableGuid");
    }
    public async void OnSubmit()
    {
        var url = configuration["ApiLinks:CustomerGetById"];
        GenericCommandResult commandResult = await ApiService.GetById<CustomerDTO>(url, null, Model.Document);
        if (commandResult.Sucess && commandResult.Data is CustomerDTO)
        {
            stateContainer.ObjectTunnel.Add(Model.GetHashCode(), Model);
            navigationManager.NavigateTo(configuration["BaseApplicationLink"] + CompanyId.ToString() + "/" + TableId + "/" + configuration["ApplicationLinks:CustomerTokenCreate"] + Model.GetHashCode());
        }
        else
            navigationManager.NavigateTo(configuration["BaseApplicationLink"] + CompanyId.ToString() + "/" + TableId + "/" + configuration["ApplicationLinks:CustomerCreate"] +   +long.Parse(Model.Document));
    }
}