@page "/product/typecreate"
@rendermode InteractiveServer
@inject IConfiguration configuartion
@inject IApiService ApiService
@attribute [Authorize]
@inject IConfiguration configuration
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime
@inject IHttpContextAccessor HttpContextAcessor
@inject IUserGetter usergetter
<h3>Adicionar Produto</h3>

<EditForm OnValidSubmit="OnSubmit" Model="@Model" FormName="addProductType">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <InputText @bind-Value="Model.TypeName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</EditForm>

@code {
    public ProductTypeDTO Model { get; set; } = new ProductTypeDTO();
    private string _userId;
    private int _companyId;
    public async void OnSubmit()
    {
        var url = configuartion["ApiLinks:ProductTypeCreate"];
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("userId", _userId);
        Model.CompanyId = _companyId;
        GenericCommandResult commandResult = await ApiService.PostWithParameters<ProductTypeDTO>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), parameters, Model);
        if (commandResult.Sucess)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Produto cadastrado");
            navigationManager.NavigateTo(configuration["ApplicationLinks:ProductTypeManager"]);
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "Ocorreu um erro, produto não cadastrado");
    }
    protected override async Task OnInitializedAsync()
    {
        ApplicationUser user = await usergetter.Get();
        _userId = user.Id;
        _companyId = user.CompanyId;
    }
}

